body {background: url("../images/1.jpg");
      background-size: cover;}
div { background-color:rgba(0, 0, 0, .5);
      margin-left: 50%;
      height: 100%;
      width: 50%;
    }

h1 {background-color: black;
    text-color: white;
    height: 50px;}
